

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(31, 31, 33);
  color: white;
  margin: 0;
}

#main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app-name{
    flex: 1;
    font-size: 4rem;
    font-weight: bold;
    align-content: center;
    text-align: center; 
}

#header{
  width: 100%;
    height: 5vh;
    background-color: rgb(59, 59, 59);

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-item{
}



#subheader-cta{
    color: rgba(255, 255, 255, 0.915);
    flex: 1;
    align-content: start;
    text-align: center; 
}

#download-links{
    padding: 5px;
}

.bn45 {
  width: 170px;
  height: 50px;
}

.bn46 {
  width: 150px;
  height: 50px;
}
